h1{
    font-family: "Press Start 2P";
    color: orangered;
}
h2{
    font-family: "Press Start 2P";
    color: tan;
}
h3{
    font-family: "Press Start 2P";
    color: mediumpurple;
}
h4{
    font-family: "Press Start 2P";
}
h5{
    font-family: "Press Start 2P";
}
p{
    font-family: "Press Start 2P";
}
ul{
    font-family: "Press Start 2P";
}