body{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/04/27/homer-simpson-chasing-donut.png");
    font-family: 'Mansalva', cursive;
    font-weight: bold;
}
#date{
    margin: 10px 30px;
    color: #963ee5;
    font-size: 60px;
    justify-content: space-between;
}
#map{
    height: 400px;
    box-sizing: border-box;
    border: #b976f8 solid 20px;
    margin: -40px 50px 10px 50px;
}
#weather{
    background-color: #eada3e;
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;
    border: pink solid 20px;
    border-radius: 60px;

}
#cityName{
    font-size: 40px;
    color: #f8f876;
    background-color: #f1baba;
    border-radius: 30px;
}
#current{
    color: #f8f876;
    font-size: 24px;
    background-color: #bbce2d;
    margin: 20px;
    border-radius: 20px;
}
img{
    height: 50px;

}
.bart{
    size: 200px;
    mix-blend-mode: multiply;
    margin-left: 55px;
    height: 90px;
}
#temp{
    color: #ab266b;

}
#description{
    color: #a62869;

}
#humidity{
    color: #ab266b;

}
#windspeed{
    color: #ab266b;

}
#pressure{
    color: #ab266b;

}